<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Hola Mundo</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi nam alias nihil fugiat, nisi rerum consequuntur, optio rem at tempore delectus libero minima porro voluptas veniam consectetur blanditiis est totam voluptatum voluptate suscipit ut repudiandae! Totam recusandae perspiciatis atque quia.</p>
    <section class="contenido">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, rerum?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, rerum?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, rerum?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, rerum?
        </p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, rerum?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, rerum?</p>
    </section>
    <div class="prueba">
        <img src="" alt="Imagen">
        <p>Producto</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, rerum?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, rerum?</p>
    </div>
</body>
</html>