*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
    font-family: 'Roboto', sans-serif;
    background-color: pink;
}
/* Header Top */
.mainHeader{
    background-color: #EAC926;
    padding: 20px;
}
.logo{
    width: 200px;
}
.hamburguer-button{
    background-color: #03264C;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}
.textoCompraTarjetaCredito{
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
}
/* Header Bottom */
.mainNavbar{
    display: none;
}
.mainNavbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.mainNavbar ul a{
    text-decoration: none;
    color: #222;
    display: inline-block;
    padding: 4px 0;
    font-size: 17px;
}

@media screen and (min-width: 768px) {
    /* Header Top */
    .mainHeaderTop{
        display: flex;
        justify-content: space-between;
    }
    .textoCompraTarjetaCredito{
        max-width: 45%;
        text-align: end;
    }
    .hamburguer-button{
        display: none;
    }
    /* Header bottom */
    .mainNavbar{
        display: flex;
        justify-content: space-between;
        
    }
    .mainNavbar ul{
        display: flex;
    }
    .mainNavbar ul li{
        margin: 0 5px;
    }
    .mainNavbar ul li i{
        margin: 0 5px;
    }
}
@media screen and (min-width: 1200px){
    .mainHeaderTop{
        align-items: center;
    } 
    .mainHeader div{
        max-width: 75%;
        margin: auto;
    }
    .logo{
        width: 250px;
    }
    .mainNavbar{
        margin-top: 40px;
        padding-bottom: 20px;
    }

    .textoCompraTarjetaCredito{
        max-width: none;
        font-size: 22px;
        font-weight: 400;
    }
    .mainNavbar ul li a{
        font-size: 19px;
    }
}